.characters-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  padding: 10px;
  max-width: 400px;
  margin-top: 30px;
  gap: 25px;
}
.characters-list li {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #282327;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.characters-list li:hover {
  background: #484347;
}
.characters-list li a {
  color: #78c05d;
  text-decoration: none;
}
