.characters-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  max-width: 400px;
  gap: 25px;
}
.characters-list .button {
  padding: 20px;
}
