.App {
  text-align: center;
  background-image: url(wallpaper.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #488f41;
  font-size: 1.4em;
}
h1 {
  margin-bottom: 30px;
}
