.App {
  text-align: center;
  background-image: url(node.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #488f41;
  font-size: 1.3em;
}
.character {
  display: flex;
  gap: 10px;
  max-width: 900px;
  color: aliceblue;
  text-shadow: 0 0 5px #000;
}

img {
  width: 250px;
}
